.firstMenu{

    background-color: rgb(102,102,102,0.85);
    height: 30px;
    margin-top: 0px;
    padding-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;


}


body{

    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.btn-custom-dropdown {
    color: #ffffff !important; /* Color blanco para el texto del botón */
}

.MenuIdioma{ 
    
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0% !important;
    
}

.MenuIdioma .dropdown-item{
    padding-top: 0px;
    background: none repeat scroll 0 0 rgba(102, 102, 102, 0.85) !important;
    color: #ffffff !important;
    margin-top: 0px;

}

.btn-group{
    display: flex;
    align-items: flex-start;

}
.btn-custom-dropdown{

    margin-bottom: 0px;
    margin-left: 0px;
    padding-left: 0px;
    font-size: 14px !important;
    height: 20px;
    
    
}


.btn-custom-dropdown.show,
.btn-custom-dropdown:active {
    outline: none; /* Elimina el contorno al hacer clic */
    box-shadow: none; /* Elimina la sombra al hacer clic */
    border: none; /* Elimina los bordes al hacer clic */
}



   /* Personaliza el color de la flecha en el botón dropdown */
   .btn-custom-dropdown::after {
    border-top-color: #94b43b !important; /* Cambia el color a verde (#00FF00) o tu preferencia */
   
}
/* Nav-bar superior */
.nav-superior{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    border-left: black solid 1px;
    height: 30px;
    padding-left: 0px;
    margin-top: 0;
    margin-bottom: 0;   

}
.item-nav{

    list-style-type: none; 
    color: #fff;
    font-size: 14px;
    padding-top: 4px;
    
    padding-right: 10px;
    padding-left: 10px;
    border-right: black solid 1px;
    
    
}
/* Establece colores diferentes para cada elemento en hover 

        Como cada elemento del menu cambia de color diferente cuando hace hover (paginal Unal) debe accederse a todos los hijos por separado
*/

.nav-superior li:nth-child(1):hover {
    background-color: #81f125; /* Cambia este color según tus preferencias */
}
.nav-superior li:nth-child(2):hover {
    background-color: #5710ba; /* Cambia este color según tus preferencias */
}
.nav-superior li:nth-child(3):hover {
    background-color: #257b57f4; /* Cambia este color según tus preferencias */
}
.nav-superior li:nth-child(4):hover {
    background-color: #9a109c; /* Cambia este color según tus preferencias */
}
.nav-superior li:nth-child(5):hover {
    background-color: #5710ba; /* Cambia este color según tus preferencias */
}
.nav-superior li:nth-child(6):hover {
    background-color: #075377; /* Cambia este color según tus preferencias */
}

/*Redes Sociales */
.socialLinks{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 0px;
    
    
    

}
.socialLinks .Links{

    padding-top: 5px;
    padding-bottom: 5px;
    list-style-type: none;
    padding-left: 5px;
}
.firstMenu .twitter {
    width: 20px; /* Ajusta el tamaño según tus necesidades */
    height: 20px; /* Ajusta el tamaño según tus necesidades */
    background-color: #3498db; /* Color de fondo del círculo */
    background-image: url('../images/icn_social.png');
    border-radius: 50%; /* Hace que el contenedor tenga forma de círculo */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff; /* Color del texto dentro del círculo */
    background-position: 0% 0%; /* Ajusta la posición de la imagen */
    
    

}
.firstMenu .twitter:hover{

    background-position: 0% 100%; /* Ajusta la posición de la imagen */

}

.firstMenu .facebook {
    width: 20px; /* Ajusta el tamaño según tus necesidades */
    height: 20px; /* Ajusta el tamaño según tus necesidades */
    background-color: #3498db; /* Color de fondo del círculo */
    background-image: url('../images/icn_social.png');
    border-radius: 50%; /* Hace que el contenedor tenga forma de círculo */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff; /* Color del texto dentro del círculo */
    background-position: 24.7% 0%; /* Ajusta la posición de la imagen */
    
    

}
.firstMenu .facebook:hover{

    background-position: 24.7% 100%; /* Ajusta la posición de la imagen */

}

.firstMenu .youtube {
    width: 20px; /* Ajusta el tamaño según tus necesidades */
    height: 20px; /* Ajusta el tamaño según tus necesidades */
    background-color: #3498db; /* Color de fondo del círculo */
    background-image: url('../images/icn_social.png');
    border-radius: 50%; /* Hace que el contenedor tenga forma de círculo */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff; /* Color del texto dentro del círculo */
    background-position: 98.9% 0%; /* Ajusta la posición de la imagen */
    
    

}
.firstMenu .youtube:hover{

    background-position: 98.9% 100%; /* Ajusta la posición de la imagen */

}


.MainMenu{

    background-color: #141619b7;
    height: 80px;
    margin-top: 0px;
    padding-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;


}
.logo{
    background-color: #333333ee; /* background-color: #333; Este cambia cuando se construya el poligono */
    height: 135px;
    width: 234px;
    clip-path: polygon(0% 0%, 
                        0.5% 94%, 
                        92% 85%,
                        92% 0
                        );
    background-image: url('../images/unlogo_blanco.png');
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: 20px 20px;
    margin-left: 1.5%;


}
.space{

    width: 43.5%
}
.navigation{

    margin-top : 7px;
}
.MainMenu .container{

    display: flex;
    flex-direction: row;
    margin-left: 17%;
    margin-top: 5px;
    width: 95%;
    
}
.MainMenu .fa-map-marker{

    padding-top: 10px;
    padding-right: 10px;
    font-size:20px !important;
    color:rgb(139, 131, 131)
  }
#link-site{

    font-size: 24px;
    color: white;
}
.mod-list{

    margin-bottom: 0px;
    margin-left: 5px;
    padding-left: 5px;
    display: flex;
    flex-direction: row;
}
.custom-navbar{
    background-color: transparent !important;
    height: 20px !important;
}
.carousel{

    z-index: -2;
}

#bannersCarousel{
  
    z-index: -1;
    
  }
  .carousel-inner{
    
    z-index: 0 !important;
    height: 308px !important;

  }
  .carousel-item,
  .carousel-item-active{
    
    z-index: 0 !important;
    height: 100% !important;
  }
  .carousel-control-prev,
  .carousel-control-next {
    z-index: 1 !important; 
    position: relative;
    height: 40%;
    top: 20% !important;
    display: none !important;
    
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon{
    
     position: relative;
     top: -10%; 
  }

  .boxStyle {
  
  margin-top: 1%;
  padding: 30px;
  background-color: #F4F4F4;
  
  
  
  
  
}
.boxStyleW {
    
    margin-top: 5%;
    border-width: thin;
    
    border-color: gray;
    
    
    
  }
.elevated-box {
    padding: 20px;
    border-radius: 8px;
    background-color: white;
    /* Definimos la sombra con desplazamiento vertical de 4px y desplazamiento horizontal de 0px */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); 
}
.options{

    display:flex;
    flex-direction: row;
    align-items: flex-start;
    

}
.normal-box {
    padding: 0;
    width: 50%;
    
    
     
}


.option1{

    background-color: #644ed2;
    box-shadow: 5px 4px 10px rgba(1, 80, 123, 0.7);
    color: white;
    margin-left: 1%;
}

.option2{
    
    background-color: rgb(255, 255, 255);
    box-shadow: -5px 4px 10px rgba(56, 56, 56, 0.7);
    color: black;
    height: auto;
    margin-right: 1%;
    
}
.option-espacio-texto{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;

}

.custom-button{

    border-radius: 0 !important;
    background-color: #e8f6ff !important;
    color: rgb(0, 119, 181) !important; 
    border-top:  rgba(0, 118, 181, 0.429) !important; 
    border-right: none !important;
    border-bottom: none !important;
    border-left: none !important;
    height: 17% !important;
}
.op-button{
    
    background-color: rgb(0, 119, 181) !important;
    color: rgb(248, 250, 251) !important; 
    border-radius: 12px !important;
    border:  rgba(0, 118, 181, 0.429) !important;
    margin-top: 20px;
    width: 70%; 

}
.op-button:active{
    
    background-color: rgb(248, 250, 251) !important;
    color:  rgb(0, 119, 181)!important; 
    border-radius: 12px !important;
    border:  rgba(0, 118, 181, 0.429) !important;
    margin-top: 20px;
    width: 70%; 

}
.op-button:hover{
    
    background-color: rgb(248, 250, 251) !important;
    color:  rgb(0, 119, 181)!important; 
    border-radius: 12px !important;
    border: solid 2px rgba(0, 118, 181, 0.429) !important;
    margin-top: 20px;
    width: 70%; 

}

.collapsed-buttons{

    padding-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
}
#seccion2{
  margin-bottom: 20px;

}
.Modalidades{

    margin-top:70px;
   
    display: flex;
    flex-direction: row;
    box-shadow: 0 -4px 4px -4px rgba(0, 0, 0, 0.5);
}

.barra-lateral{

    width: 25%;
    height: auto;
    
}
.oferta{

    width: 30% !important ;
    margin-right: 10px;
    border-right: dotted #bac2c2 1px;
}
.Billboard{

    width: 80%;
    margin-left: 1%;
    margin-right: 1%;
    
    height: auto;
}
.B-Espacio-texto{

    width: 50%;
    height: 460px;
    padding-left: 3%;
    padding-bottom: 0%;
    box-shadow:  -5px 4px 10px rgba(56, 56, 56, 0.7);

}
.Blue{
    background-color: #644ed2 !important;
    box-shadow: 5px 4px 10px rgba(1, 80, 123, 0.7) !important;
    color: white;

}
.IzquierdoImagen{

    display: flex;
    flex-direction: row;
    position: relative;
    translate: 0% 0%;
    margin-top: 2%;
    margin-bottom:8%;
}
.Espacio-imagen{

    position: relative;
    translate: 15% 11%;   

}
.ImagenB-white{

    box-shadow: 5px 4px 10px rgba(56, 56, 56, 0.7);
}

.ImagenB-blue{

    
}

/* componente  sidebar */
.sidebar {
   
    top: 0%;
    left: 5%;
    width: 92%;
    height: auto;
    position: sticky;
    top: 0;
    padding-top: 20px;
    color: #1B2C36;
   
}

.sidebar h2 {
    text-align: left;
    color: #202E33;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 8px;
    text-align: left;
    margin-top: 0px;
    border-radius: 10px;
    
}

.sidebar ul li a {
    color: #202E33;
    text-decoration: none;
    display: block;
    
}

.sidebar ul li a:hover {
    background-color: orange;
    color: white !important;
}
.selected{
    background-color: orange;
    color: white !important;
    text-decoration: none;
}
.selected a {
    color: white !important;
}
.sidebar.cursos{

    top: 0%;
    left: 1%;
    width:95%;
    height: auto;
    position: sticky;
    top: 0;
    padding: 0  !important;
    


}





.sidebar.cursos ul li {
    
    text-align: center;
    background-color:#0076B5;
    border: solid #ffffff;
    margin-top: 0;
    border-radius: 0;
    
}

.sidebar.cursos ul li a {
    color: #fcfcfc;
    text-decoration: none;
    
    
}

.sidebar.cursos ul li a:hover {
    background-color: #fdfdfd;
    border: solid #075377 1px;
    color: #0076B5;
}

.accordion-button.collapsed{

    width: 100%;
}
.accordion-header{
    width: 100%;
}

.Zona-Titulo{

    position: relative;
    text-align: center;
    color: #dadde3;
    background-color:  #d87c03;
    text-align: center;
    translate: 0px -150px;
    width: 40%
    
}
.boxStyleW {
    
    margin-top: 1%;
    border-width: thin;
    
    border-color: gray;
    margin-bottom: 100px
    
    
    
  }
.conv-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.conv-menu a{
    width: 40%;
    text-decoration: none;
}
.conv-menu-separator{
   width: 5%;
}
.conv-menu-item{

    width: 100%;
    height: 100%;
    border-color: rgb(0, 119, 181);
    border-radius: 15px;
    box-shadow: rgba(1, 80, 123, 0.7) 5px 4px 10px;
    overflow: hidden;
    transition: transform 0.3s ease, opacity 0.3s ease;
    

    
}
.conv-menu-item h2 {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
    color: white;
    opacity: 0;
    z-index: 4;
    transition: opacity 0.3s ease; /* Transición suave de opacidad */
    
}

.conv-menu-item:hover h2 {
    opacity: 1;
}

.conv-menu-item:hover{

    background-color: #428ea9bd;
    z-index: 1;
     /* Ejemplo: aplica un efecto de zoom */
   


    
}
.conv-menu-item img{
    transform: scale(1);
    opacity: 1;
    transition: transform 0.3s ease, opacity 0.3s ease; /* Animación para un efecto suave */
    translate: 0px -46px;
}

.conv-menu-item img:hover {
    /* Ejemplo: cambia la opacidad de la imagen al pasar el mouse */
    opacity: 0.4;
    transform: scale(1.05); /* Ejemplo: aplica un efecto de zoom */
    transition: transform 0.3s ease, opacity 0.3s ease; /* Animación para un efecto suave */
}
.AlternaColor{
    display: flex;
    flex-direction: column;
}
.seccion{

    padding: 50px;
    text-align: center;
}
/* Alterna los colores de fondo */
.seccion:nth-child(odd) {
    background-color: #F4F4F4; /* Color azul */
}

.seccion:nth-child(even) {
    background-color: white; /* Color verde */
}
.containervigilancia{
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content:  center;
    
}
.divVigilancia {
    width: 30%;
    margin-left: 0;
    padding: 1%;
    padding-top: 6%;
    border-style: solid;
    
    border-color: white;
    background-color: #644ed2;
    border-width: thin medium;
    border-radius: 50%;
    
    box-shadow: 5px 4px 10px rgba(1, 25, 39, 0.7);
    height: auto;
    margin-top: 10px;
    display: flex;    
    flex-direction : column;
    height: 400px;
    color: white;
    display:flex;
    flex-direction: column;
    align-items: center;
    
    
    
 
 
 }
 .divVigilanciañ:hover{
    border-color: rgb(0, 119, 181);
    color:#1B2C36;
    background-color: white;
    border-width : thin;
    box-shadow: 5px 4px 10px rgba(1, 80, 123, 0.7);
 }
 .separatorvigilancia{
    width: 2%;
 }
 li::marker {
    color: #2F2468;
  }

.Lpractica li::marker{

    color: white !important;
}

  .naranja{

    border-top: solid orange;
    border-bottom:solid orange; ;
    border-width: medium;
    padding-bottom: 50px;
  }
.azul{

    border-top: solid #2F2468;
    border-bottom:solid #2F2468; ;
    border-width: medium;
}
.iconvig{

    
    width: 30px;
    height: 30px;
    margin-right: 90px;
    margin-top: 20px;
}



